In [2]:
import sqlite3

In [3]:
connection = sqlite3.connect('example.db')

In [4]:
cursor = connection.cursor()

In [5]:
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text)
''')

connection.commit()

In [7]:
cursor.execute('''
Insert Into employees(name, age, department)
               values("Jawad", 25, "CSE")
''')

cursor.execute('''
Insert Into employees(name, age, department)
               values("Juhana", 24, "Econ")
''')

cursor.execute('''
Insert Into employees(name, age, department)
               values("Afeef", 25, "QA")
''')

connection.commit()

In [10]:
cursor.execute(' Select *from employees')
rows= cursor.fetchall()

for row in rows:
    print(row)

(1, 'Jawad', 25, 'CSE')
(2, 'Juhana', 24, 'Econ')
(3, 'Afeef', 25, 'QA')

In [13]:
cursor.execute('''
Update employees
    Set age = 34
    where name = "Afeef"
''')

connection.commit()

In [14]:
cursor.execute(' Select *from employees')
rows= cursor.fetchall()

for row in rows:
    print(row)

(1, 'Jawad', 25, 'CSE')
(2, 'Juhana', 24, 'Econ')
(3, 'Afeef', 34, 'QA')

In [15]:
cursor.execute('''
Delete from employees
    where name = "Afeef"
''')

In [16]:
cursor.execute(' Select *from employees')
rows= cursor.fetchall()

for row in rows:
    print(row)

(1, 'Jawad', 25, 'CSE')
(2, 'Juhana', 24, 'Econ')