### Assignment 1: Creating and Connecting to a Database
1. Write a Python function to create a new SQLite3 database named `test.db`.

In [21]:
import sqlite3

def create_database():
    connection = sqlite3.connect('test1.db')
    print("Database Created Successfully")

create_database()

Database Created Successfully

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [22]:
def create_table():
    connection = sqlite3.connect('test1.db')
    cursor = connection.cursor()
    cursor.execute('''
    Create Table If Not Exists employees(
        id Integer Primary Key,
        name Text Not Null,
        age Integer,
        department Text
    )
    ''')
    connection.commit()
    connection.close()
    print("Table created successfully")

create_table()

Table created successfully

### Assignment 2: Inserting Data
1. Write a Python function to insert a new employee into the `employees` table.

In [23]:
def insert_data(id, name, age, department):
    connection = sqlite3.connect('test1.db')
    cursor = connection.cursor()
    cursor.execute('''
    Insert Into employees (id, name, age, department)
    Values(?,?,?,?)
    ''', (id, name, age, department))
    connection.commit()

insert_data(1, "Jawad", 25, "CSE")

2. Insert at least 5 different employees into the `employees` table.

In [25]:
insert_data(2, 'Bob', 25, 'Engineering')
insert_data(3, 'Charlie', 28, 'Sales')
insert_data(4, 'David', 35, 'Marketing')
insert_data(5, 'Eve', 22, 'HR')

### Assignment 3: Querying Data
1. Write a Python function to fetch and display all records from the `employees` table.

In [26]:
def fetch_data():
    connection = sqlite3.connect('test1.db')
    cursor = connection.cursor()
    cursor.execute('Select *from employees')
    rows = cursor.fetchall()

    for row in rows:
        print(row)

fetch_data()

(1, 'Jawad', 25, 'CSE')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

2. Write a Python function to fetch and display all employees from a specific department.

In [34]:
def fetch_department_data(department):
    connection = sqlite3.connect('test1.db')
    cursor = connection.cursor()
    cursor.execute('Select *from employees Where department =?', (department,))
    rows = cursor.fetchall()

    for row in rows:
        print(row)

fetch_department_data('HR')

(5, 'Eve', 22, 'HR')

### Assignment 4: Updating Data
1. Write a Python function to update the department of an employee based on their `id`.

In [37]:
def update_data(employee_id, employee_department):
    connection = sqlite3.connect('test1.db')
    cursor = connection.cursor()
    cursor.execute('''
    Update employees
        Set department = ?
        Where id = ?
    ''', (employee_department, employee_id))
    connection.commit()

update_data(1, "SQA")
fetch_data()

(1, 'Jawad', 25, 'SQA')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

### Assignment 5: Deleting Data
1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [40]:
def delete_data(employee_id):
    connection = sqlite3.connect('test1.db')
    cursor = connection.cursor()
    cursor.execute('''
    Delete from employees
    where id = ?
    ''', (employee_id,))
    connection.commit()

delete_data(5)
fetch_data()

(1, 'Jawad', 25, 'SQA')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')

2. Delete at least 1 employee and display the remaining records.

In [ ]:
delete_data(5)
fetch_data()

### Assignment 6: Advanced Queries
1. Write a Python function to fetch and display employees older than a certain age.

In [44]:
def fetch_conditional_data(age_limit):
    connection = sqlite3.connect('test1.db')
    cursor = connection.cursor()
    cursor.execute('''
    Select *from employees
    where age > ?
''', (age_limit,))
    connection.commit()
    datas = cursor.fetchall()
    for data in datas:
        print(data)

fetch_conditional_data(27)

(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [45]:
def fetch_employees_name_starts_with(letter):
    connection = sqlite3.connect('test1.db')
    cursor = connection.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    connection.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_name_starts_with('C')

(3, 'Charlie', 28, 'Sales')

### Assignment 8: Creating Relationships
1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [47]:
def create_departments_table():
    connection = sqlite3.connect('test1.db')
    cursor = connection.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS departments (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )
    ''')
    connection.commit()
    connection.close()
    print("Table 'departments' created successfully.")

# Test the function
create_departments_table()

Table 'departments' created successfully.

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [53]:
import sqlite3

def add_department_foreign_key():
    connection = sqlite3.connect('test1.db')
    cursor = connection.cursor()
    cursor.execute("PRAGMA foreign_keys=off;")
    cursor.execute("BEGIN TRANSACTION;")
    cursor.execute("ALTER TABLE employees RENAME TO old_employees;")
    cursor.execute('''
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
    ''')
    cursor.execute('''
        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
    ''')
    cursor.execute("DROP TABLE old_employees;")
    cursor.execute("PRAGMA foreign_keys=on;")
    
    # Commit the transaction
    connection.commit()
    connection.close()
    print("Foreign key added successfully!")


add_department_foreign_key()

Foreign key added successfully!

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [55]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    connection = sqlite3.connect('test1.db')
    cursor = connection.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        connection.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        connection.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        connection.close()

# Test the function
insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Department and employee inserted successfully.