### Assignment 1: DataFrame Creation and Indexing
1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np

data_frame = pd.DataFrame(np.random.randint(1,11, size=(6,4)), columns=['ID', 'A', 'B', 'C'])
data_frame.set_index('ID', inplace=True)
print(data_frame)

     A  B  C
ID
6    3  3  2
2   10  3  3
6    5  1  7
7    1  1  1
5    9  6  1
3    3  2  6

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [17]:
data_frame = pd.DataFrame(np.random.randint(1,11, size=(3,3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print(data_frame)
print(data_frame.at['Y','B'])

   A  B   C
X  9  3   5
Y  1  2  10
Z  7  7   8
2

### Assignment 2: DataFrame Operations
1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [20]:
data_frame = pd.DataFrame(np.random.randint(1,11, size=(5,3)), columns=['A', 'B', 'C'])
print(data_frame)
data_frame['D'] = data_frame['A'] * data_frame['B']
print(data_frame)

    A   B  C
0   4   8  4
1  10   7  6
2   9   1  7
3   3   2  2
4   6  10  2
    A   B  C   D
0   4   8  4  32
1  10   7  6  70
2   9   1  7   9
3   3   2  2   6
4   6  10  2  60

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [22]:
data_frame = pd.DataFrame(np.random.randint(1,11, size=(4,3)), columns=['A', 'B', 'C'])

print(data_frame)
print(data_frame.sum(axis=0))
print(data_frame.sum(axis=1))

    A  B  C
0  10  6  6
1   2  3  3
2   8  1  3
3   7  3  9
A    27
B    13
C    21
dtype: int64
0    22
1     8
2    12
3    19
dtype: int64

### Assignment 3: Data Cleaning
1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [29]:
data_frame = pd.DataFrame(np.random.randint(1,11, size=(5,3)), columns=['A', 'B', 'C'])
print(data_frame)

data_frame.iloc[0,1] = np.nan
print(data_frame)
data_frame.fillna(data_frame.mean(), inplace=True)
print(data_frame)

    A  B  C
0   6  7  9
1  10  5  9
2   3  6  2
3   8  8  1
4   3  8  3
    A    B  C
0   6  NaN  9
1  10  5.0  9
2   3  6.0  2
3   8  8.0  1
4   3  8.0  3
    A     B  C
0   6  6.75  9
1  10  5.00  9
2   3  6.00  2
3   8  8.00  1
4   3  8.00  3

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [30]:
data_frame.iloc[1,2] = np.nan
print(data_frame)
data_frame.dropna(inplace=True)
print(data_frame)

    A     B    C
0   6  6.75  9.0
1  10  5.00  NaN
2   3  6.00  2.0
3   8  8.00  1.0
4   3  8.00  3.0
   A     B    C
0  6  6.75  9.0
2  3  6.00  2.0
3  8  8.00  1.0
4  3  8.00  3.0

### Assignment 4: Data Aggregation
1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [4]:
data_frame = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1,11, size=10)})
print(data_frame)
grouped_by = data_frame.groupby('Category')['Value'].agg(['sum', 'mean'])
print(grouped_by)

  Category  Value
0        C      3
1        C      9
2        A      2
3        A      7
4        C      1
5        C      5
6        C     10
7        B      5
8        A      8
9        B      8
          sum      mean
Category
A          17  5.666667
B          13  6.500000
C          28  5.600000

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [7]:
data_frame = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1,11, size=10)})
print(data_frame)

grouped_by = data_frame.groupby('Category')['Sales'].sum()
print(grouped_by)

  Product Category  Sales
0   Prod2        C      7
1   Prod2        A      5
2   Prod1        A      6
3   Prod1        A      2
4   Prod2        B      4
5   Prod2        A     10
6   Prod2        C      1
7   Prod1        B      5
8   Prod2        A      1
9   Prod1        A      5
Category
A    29
B     9
C     8
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames
1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [8]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      83
1   B      44
2   C      97
3   D      86
DataFrame 2:
  Key  Value2
0   A      93
1   B      68
2   C      58
3   E      55
Merged DataFrame:
  Key  Value1  Value2
0   A      83      93
1   B      44      68
2   C      97      58

### Assignment 9: Applying Functions
1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [10]:
data_frame = pd.DataFrame(np.random.randint(1, 11, size=(5, 3)), columns=['A', 'B', 'C'])
print(data_frame)
data_frame_doubled = data_frame.applymap(lambda x: x**2)
print(data_frame_doubled)

   A  B  C
0  9  3  8
1  6  2  4
2  7  8  2
3  8  5  4
4  2  3  4
    A   B   C
0  81   9  64
1  36   4  16
2  49  64   4
3  64  25  16
4   4   9  16

C:\Users\Jawad\AppData\Local\Temp\ipykernel_12040\52176882.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data_frame_doubled = data_frame.applymap(lambda x: x**2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.