### Assignment 1: DataFrame Creation and Indexing
1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [7]:
import pandas as pd
import numpy as np

data_frame = pd.DataFrame(np.random.randint(1,11, size=(6,4)), columns=['ID', 'A', 'B', 'C'])
data_frame.set_index('ID', inplace=True)
print(data_frame)

    A  B   C
ID
4   7  2  10
8   1  5  10
4   1  1  10
9   8  4   7
8   3  6  10
3   6  2   7

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [17]:
data_frame = pd.DataFrame(np.random.randint(1,11, size=(3,3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print(data_frame)
print(data_frame.at['Y','B'])

   A  B   C
X  9  3   5
Y  1  2  10
Z  7  7   8
2

### Assignment 2: DataFrame Operations
1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [20]:
data_frame = pd.DataFrame(np.random.randint(1,11, size=(5,3)), columns=['A', 'B', 'C'])
print(data_frame)
data_frame['D'] = data_frame['A'] * data_frame['B']
print(data_frame)

    A   B  C
0   4   8  4
1  10   7  6
2   9   1  7
3   3   2  2
4   6  10  2
    A   B  C   D
0   4   8  4  32
1  10   7  6  70
2   9   1  7   9
3   3   2  2   6
4   6  10  2  60

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [22]:
data_frame = pd.DataFrame(np.random.randint(1,11, size=(4,3)), columns=['A', 'B', 'C'])

print(data_frame)
print(data_frame.sum(axis=0))
print(data_frame.sum(axis=1))

    A  B  C
0  10  6  6
1   2  3  3
2   8  1  3
3   7  3  9
A    27
B    13
C    21
dtype: int64
0    22
1     8
2    12
3    19
dtype: int64

### Assignment 3: Data Cleaning
1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [29]:
data_frame = pd.DataFrame(np.random.randint(1,11, size=(5,3)), columns=['A', 'B', 'C'])
print(data_frame)

data_frame.iloc[0,1] = np.nan
print(data_frame)
data_frame.fillna(data_frame.mean(), inplace=True)
print(data_frame)

    A  B  C
0   6  7  9
1  10  5  9
2   3  6  2
3   8  8  1
4   3  8  3
    A    B  C
0   6  NaN  9
1  10  5.0  9
2   3  6.0  2
3   8  8.0  1
4   3  8.0  3
    A     B  C
0   6  6.75  9
1  10  5.00  9
2   3  6.00  2
3   8  8.00  1
4   3  8.00  3

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [30]:
data_frame.iloc[1,2] = np.nan
print(data_frame)
data_frame.dropna(inplace=True)
print(data_frame)

    A     B    C
0   6  6.75  9.0
1  10  5.00  NaN
2   3  6.00  2.0
3   8  8.00  1.0
4   3  8.00  3.0
   A     B    C
0  6  6.75  9.0
2  3  6.00  2.0
3  8  8.00  1.0
4  3  8.00  3.0